
@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_LayoutNew.cshtml";
<link href="~/Asset/shop.css" rel="stylesheet" type="text/css" />
<link href="~/Asset/giohang.css" rel="stylesheet" type="text/css" />
<link href="~/Asset/chitietsanpham.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="~/Asset/chitietsanpham.css">

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v11.0" nonce="glZzIRPC"></script>
<section id="store" class="store py-5">
    <div class="fb-page" data-href="https://www.facebook.com/SkateBoard-101548905549336" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/SkateBoard-101548905549336" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/SkateBoard-101548905549336">SkateBoard</a></blockquote></div>
</section>