@model SkateBoard.ViewModel.ShopingCartViewModel
@{
    ViewData["Title"] = "Cart";
}
<h2>Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i> </h2>
<h2>Index</h2>

@*@if (Model.ShopingCart.ShoppingCartItems?.Count() <= 0)
{
    <br />
    <h6>Opps! Your Cart is empty!</h6>
    return;
}*@

