@model IEnumerable<SkateBoard.Models.Category>

<div class=" col-lg-8 mx-auto d-flex justify-content-around my-2 sortBtn flex-wrap">
    @foreach (var item in Model)
    {

        <a href="@Url.Action("ProductByCategory","Product", new { id = item.Id})" class="btn btn-outline-secondary btn-black  filter-btn m-2"
           data-filter="all">@item.Name</a>



    }
</div>


