

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="store">
    <div class="background " id="background1">
        <img src="../img/Capture.PNG" alt="">
    </div>
    <div class="store_menu">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active ">
                    <div class="row">
                        <div class="col-4 stor_1 ">
                            <img src="../img/img-9623-b8d51160-b352-47b9-ad64-b613cbfddd5e.jpg" alt="">
                        </div>
                        <div class="col-4 stor_2">
                            <img src="../img/img-9621.jpg" alt="">
                        </div>
                        <div class="col-4 stor_3">
                            <img src="../img/img-9620.jpg" alt="">
                        </div>
                    </div>
                    <div class="title text-lg-center pt-2">
                        <h4>STANTA CRUZ JACKKPOT HAND TEAM DECK 8.0</h4>
                        <p>1.400.000 đ</p>
                        <button class="btn bg-dark w-auto text-white">MUA</button>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-4 stor_1 ">
                            <img src="../img/img-9623-b8d51160-b352-47b9-ad64-b613cbfddd5e.jpg" alt="">
                        </div>
                        <div class="col-4 stor_2">
                            <img src="../img/img-9621.jpg" alt="">
                        </div>
                        <div class="col-4 stor_3">
                            <img src="../img/img-9620.jpg" alt="">
                        </div>
                    </div>
                    <div class="title text-lg-center pt-2">
                        <h4>STANTA CRUZ JACKKPOT HAND TEAM DECK 6.0</h4>
                        <p>1.000.000 đ</p>
                        <button class="btn bg-dark w-auto text-white">MUA</button>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="arrow_prev" aria-hidden="true">
                    <img src="../img/noun_Arrow_349268.png" alt="">
                </span>

            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="arrow_next" aria-hidden="true">
                    <img src="../img/noun_Arrow_349268.png" alt="">
                </span>
            </a>
        </div>
    </div>
</div>
<div class="ADS mt-5">
    <iframe class="w-100" width="972" height="547" src="https://www.youtube.com/embed/p3sq2LNfbxw" title="YouTube video player" autoplay=1 frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" autoplay=1></iframe>
</div>

<div class="logo_banner">
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-2"><img src="../img/brand3.png" alt=""></div>
                <div class="col-2"><img src="../img/brand4.png" alt=""></div>
                <div class="col-2"><img src="../img/brand5.png" alt=""></div>
                <div class="col-2"><img src="../img/brand6.png" alt=""></div>
                <div class="col-2"><img src="../img/brand7.png" alt=""></div>
                <div class="col-2"><img src="../img/brand8.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="catogery">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="content">
                        <div class="titile">
                            <h2>
                                <a href="#">BÁNH XE</a>
                                <a href="#" class="more">Xem thêm</a>
                            </h2>
                        </div>
                        <div class="range offset-top-20">
                            <div class="product-mini-item clearfix  ">
                                <div class="box">
                                    <div class="product-img relative">
                                        <a href="#">
                                            <img src="../img/banhxe1.png" alt="NOMAD COMPLETE SCARAB 8.0">
                                        </a>
                                        <a data-toggle="tooltip" title="Xem nhanh" href="#" data-handle="nomad-complete-scarab-8-0" class="btn-circle btn_view btn  right-to quick-view absolute">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h3>
                                            <a href="#" title="NOMAD COMPLETE SCARAB 8.0" class="product-name">
                                                NOMAD
                                                COMPLETE SCARAB 8.0
                                            </a>
                                        </h3>
                                        <div class="price-box">
                                            <div class="special-price"><span class="price product-price">1.450.000₫</span> </div>
                                            <!-- Giá -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-mini-item clearfix  ">
                                <div class="box">
                                    <div class="product-img relative">
                                        <a href="#">
                                            <img src="../img/banhxe2.png" alt="NOMAD COMPLETE SCARAB 8.0">
                                        </a>
                                        <a data-toggle="tooltip" title="Xem nhanh" href="#" data-handle="nomad-complete-scarab-8-0" class="btn-circle btn_view btn  right-to quick-view absolute">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h3>
                                            <a href="#" title="NOMAD COMPLETE SCARAB 8.0" class="product-name">
                                                NOMAD
                                                COMPLETE SCARAB 8.0
                                            </a>
                                        </h3>
                                        <div class="price-box">
                                            <div class="special-price"><span class="price product-price">1.450.000₫</span> </div>
                                            <!-- Giá -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-mini-item clearfix  ">
                                <div class="box">
                                    <div class="product-img relative">
                                        <a href="#">
                                            <img src="../img/banhxe3.png" alt="NOMAD COMPLETE SCARAB 8.0">
                                        </a>
                                        <a data-toggle="tooltip" title="Xem nhanh" href="#" data-handle="nomad-complete-scarab-8-0" class="btn-circle btn_view btn  right-to quick-view absolute">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h3>
                                            <a href="#" title="NOMAD COMPLETE SCARAB 8.0" class="product-name">
                                                NOMAD
                                                COMPLETE SCARAB 8.0
                                            </a>
                                        </h3>
                                        <div class="price-box">
                                            <div class="special-price"><span class="price product-price">1.450.000₫</span> </div>
                                            <!-- Giá -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content">
                        <div class="titile">
                            <h2>
                                <a href="#">MẶT VÁN</a>
                                <a href="#" class="more">Xem thêm</a>
                            </h2>
                        </div>
                        <div class="range offset-top-20">
                            <div class="product-mini-item clearfix  ">
                                <div class="box">
                                    <div class="product-img relative">
                                        <a href="#">
                                            <img src="../img/van1.jpg" alt="NOMAD COMPLETE SCARAB 8.0">
                                        </a>
                                        <a data-toggle="tooltip" title="Xem nhanh" href="#" data-handle="nomad-complete-scarab-8-0" class="btn-circle btn_view btn  right-to quick-view absolute">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h3>
                                            <a href="#" title="NOMAD COMPLETE SCARAB 8.0" class="product-name">
                                                NOMAD
                                                COMPLETE SCARAB 8.0
                                            </a>
                                        </h3>
                                        <div class="price-box">
                                            <div class="special-price"><span class="price product-price">1.450.000₫</span> </div>
                                            <!-- Giá -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-mini-item clearfix  ">
                                <div class="box">
                                    <div class="product-img relative">
                                        <a href="#">
                                            <img src="../img/van2.jpg" alt="NOMAD COMPLETE SCARAB 8.0">
                                        </a>
                                        <a data-toggle="tooltip" title="Xem nhanh" href="#" data-handle="nomad-complete-scarab-8-0" class="btn-circle btn_view btn  right-to quick-view absolute">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h3>
                                            <a href="#" title="NOMAD COMPLETE SCARAB 8.0" class="product-name">
                                                NOMAD
                                                COMPLETE SCARAB 8.0
                                            </a>
                                        </h3>
                                        <div class="price-box">
                                            <div class="special-price"><span class="price product-price">1.450.000₫</span> </div>
                                            <!-- Giá -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-mini-item clearfix  ">
                                <div class="box">
                                    <div class="product-img relative">
                                        <a href="#">
                                            <img src="../img/van3.png" alt="NOMAD COMPLETE SCARAB 8.0">
                                        </a>
                                        <a data-toggle="tooltip" title="Xem nhanh" href="#" data-handle="nomad-complete-scarab-8-0" class="btn-circle btn_view btn  right-to quick-view absolute">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h3>
                                            <a href="#" title="NOMAD COMPLETE SCARAB 8.0" class="product-name">
                                                NOMAD
                                                COMPLETE SCARAB 8.0
                                            </a>
                                        </h3>
                                        <div class="price-box">
                                            <div class="special-price"><span class="price product-price">1.450.000₫</span> </div>
                                            <!-- Giá -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content">
                        <div class="titile">
                            <h2>
                                <a href="#">TRỤC BÁNH</a>
                                <a href="#" class="more">Xem thêm</a>
                            </h2>
                        </div>
                        <div class="range offset-top-20">
                            <div class="product-mini-item clearfix  ">
                                <div class="box">
                                    <div class="product-img relative">
                                        <a href="#">
                                            <img src="../img/trucbanh1.png" alt="NOMAD COMPLETE SCARAB 8.0">
                                        </a>
                                        <a data-toggle="tooltip" title="Xem nhanh" href="#" data-handle="nomad-complete-scarab-8-0" class="btn-circle btn_view btn  right-to quick-view absolute">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h3>
                                            <a href="#" title="NOMAD COMPLETE SCARAB 8.0" class="product-name">
                                                NOMAD
                                                COMPLETE SCARAB 6.0
                                            </a>
                                        </h3>
                                        <div class="price-box">
                                            <div class="special-price"><span class="price product-price">1.450.000₫</span> </div>
                                            <!-- Giá -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-mini-item clearfix  ">
                                <div class="box">
                                    <div class="product-img relative">
                                        <a href="#">
                                            <img src="../img/trucbanh2.png" alt="NOMAD COMPLETE SCARAB 8.0">
                                        </a>
                                        <a data-toggle="tooltip" title="Xem nhanh" href="#" data-handle="nomad-complete-scarab-8-0" class="btn-circle btn_view btn  right-to quick-view absolute">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h3>
                                            <a href="#" title="NOMAD COMPLETE SCARAB 8.0" class="product-name">
                                                NOMAD
                                                COMPLETE SCARAB 7.0
                                            </a>
                                        </h3>
                                        <div class="price-box">
                                            <div class="special-price"><span class="price product-price">1.450.000₫</span> </div>
                                            <!-- Giá -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-mini-item clearfix  ">
                                <div class="box">
                                    <div class="product-img relative">
                                        <a href="#">
                                            <img src="../img/trucbanh3.png" alt="NOMAD COMPLETE SCARAB 8.0">
                                        </a>
                                        <a data-toggle="tooltip" title="Xem nhanh" href="#" data-handle="nomad-complete-scarab-8-0" class="btn-circle btn_view btn  right-to quick-view absolute">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h3>
                                            <a href="#" title="NOMAD COMPLETE SCARAB 8.0" class="product-name">
                                                NOMAD
                                                COMPLETE SCARAB 5.0
                                            </a>
                                        </h3>
                                        <div class="price-box">
                                            <div class="special-price"><span class="price product-price">1.450.000₫</span> </div>
                                            <!-- Giá -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>